<mat-button-toggle-group multiple #togglegroup="matButtonToggleGroup">
    <mat-button-toggle [ngStyle]="{'backgroundColor':'red'}" value="hello">hello there</mat-button-toggle>
    <mat-button-toggle value="click"><mat-icon>face</mat-icon></mat-button-toggle>
    <mat-button-toggle value="display">display data</mat-button-toggle>
</mat-button-toggle-group>

<p>{{ togglegroup.value }}</p>

<mat-spinner *ngIf="timer"></mat-spinner>
<button mat-fab color="primary" (click)="loadtimer()"> load data</button>