<div class="container">
    <div class="first">

    <mat-card class="example-card">
        <img mat-card-image src="https://start-javascript.github.io/sb-admin-material/assets/images/card-1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div class="title">

            <mat-card-header>
                <mat-card-title> Cozy 5 Stars Apartment</mat-card-title>
              </mat-card-header>
        </div>
            <div class="paragraph">
          <p >
            The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona.
          </p>
        </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="button_ft">
          <button mat-button>$899/night</button>
          <button mat-button><mat-icon>pin_drop</mat-icon>Barcilona ,Spain</button>
        </div>
        </mat-card-actions>
      </mat-card>
    </div>




    <div class="first">

        <mat-card class="example-card">
            <img mat-card-image src="https://start-javascript.github.io/sb-admin-material/assets/images/card-2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div class="title">
    
                <mat-card-header>
                    <mat-card-title> Office Studio</mat-card-title>
                  </mat-card-header>
            </div>
                <div class="paragraph">
              <p >
                The place is close to Metro Station and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the night life in London, UK.

            </p>
            </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="button_ft">
              <button mat-button>$1,119/night</button>
              <button mat-button><mat-icon>pin_drop</mat-icon>London ,UK</button>
            </div>
            </mat-card-actions>
          </mat-card>
        </div>





        <div class="first">

            <mat-card class="example-card">
                <img mat-card-image src="https://start-javascript.github.io/sb-admin-material/assets/images/card-3.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="title">
        
                    <mat-card-header>
                        <mat-card-title>Beautiful Castle</mat-card-title>
                      </mat-card-header>
                </div>
                    <div class="paragraph">
                  <p >
                    The place is close to Metro Station and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Milan.                  </p>
                </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="button_ft">
                  <button mat-button>$459/night</button>
                  <button mat-button><mat-icon>pin_drop</mat-icon>Milan ,Italy</button>
                </div>
                </mat-card-actions>
              </mat-card>
            </div>
</div>