<div class="main">
<mat-card class="card secound">
    <div class="container">
        <div class="left_side">
        <div><mat-card-subtitle ><mat-icon [ngStyle]="{'color':'white','font-size': '30px'}">dashboard</mat-icon></mat-card-subtitle></div>
        <div><span [ngStyle]="{'color':'white','font-size': '15px'}">View Details</span></div>
        </div>
        <div class="right_side">
        <div><mat-card-title [ngStyle]="{'color':'white','font-size': '40px'}">13</mat-card-title></div>
        <div> <div mat-card-avatar [ngStyle]="{'color':'white','width': '100%','margin-top':'10px'}">New Tickets!</div></div>
    </div>
</div>
  </mat-card>

  <mat-card class="card third">
    <div class="container">
        <div class="left_side">
        <div><mat-card-subtitle><mat-icon [ngStyle]="{'color':'white' ,'font-size': '30px'}">list</mat-icon></mat-card-subtitle></div>
        <div><span  [ngStyle]="{'color':'white','width': '100%','margin-top':'10px'}">View Details</span></div>
        </div>
        <div class="right_side">
        <div><mat-card-title [ngStyle]="{'color':'white','font-size': '40px'}">12</mat-card-title></div>
        <div> <div mat-card-avatar [ngStyle]="{'color':'white','width': '100%','margin-top':'10px'}">New task!</div></div>
    </div>
</div>
  </mat-card>


  <mat-card class="card four">
    <div class="container">
        <div class="left_side">
        <div><mat-card-subtitle><mat-icon [ngStyle]="{'color':'white','font-size': '30px'}">shopping_cart</mat-icon></mat-card-subtitle></div>
        <div><span [ngStyle]="{'color':'white'}">View Details</span></div>
        </div>
        <div class="right_side">
        <div><mat-card-title [ngStyle]="{'color':'white','font-size': '40px'}">124</mat-card-title></div>
        <div> <div mat-card-avatar [ngStyle]="{'color':'white','width': '100%','margin-top':'10px'}">New Orders!</div></div>
    </div>
</div>
  </mat-card>


  <mat-card class="card first">
    <div class="container">
        <div class="left_side">
        <div><mat-card-subtitle><mat-icon [ngStyle]="{'color':'white','font-size': '30px'}">dashboard</mat-icon></mat-card-subtitle></div>
        <div><span  [ngStyle]="{'color':'white','margin-top':'10px'}">View Details</span></div>
        </div>
        <div class="right_side">
        <div><mat-card-title [ngStyle]="{'color':'white','font-size': '40px'}">13</mat-card-title></div>
        <div> <div mat-card-avatar [ngStyle]="{'color':'white','width': '100%','margin-top':'10px'}">New Tickets!</div></div>
    </div>
</div>
  </mat-card>
</div>